In [ ]:
'''
sql query

begin;

create table IF NOT EXISTS customer(
	customer_id serial primary key,
	customer_name varchar not null,
	city varchar
);

create table IF NOT EXISTS customer_order(
	order_id serial primary key,
	customer_id integer,
	order_date date,
	total_amount decimal,
	foreign key(customer_id) references customer(customer_id)
);

insert into customer values
	(1, 'John Doe', 'New York'),
	(2, 'Jane Smith', 'Los Angeles'),
	(3, 'David Johnson', 'Chicago');
	
insert into customer_order values
	(1, 1, '2022-01-10', 100),
	(2, 1, '2022-02-15', 150),
	(3, 2, '2022-03-20', 200),
	(4, 3, '2022-04-25', 50);
	
commit;

select c.customer_name, count(co.*)
from customer as c
join customer_order as co
on c.customer_id = co.customer_id
group by c.customer_name
'''